html{
  overflow-y: scroll;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    align-items: center;
}

li:hover.search-result-li{
  background-color: #FFCC80;
}

.glyphicon.spinning{
  font-size: 40px;
  margin-top: 20px;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

@@keyframes  spin{
  from{transform: scale(1) rotate(0deg);}
  to{transform: scale(1) rotate(360deg);}

}

@-webkit-keyframes spin{
  from{-webkit-transform: scale(1) rotate(0deg);}
  to{-webkit-transform: scale(1) rotate(360deg);}
}

#upper-container{
  align-items:center;
  justify-content: flex-start;
  flex-direction:column;
  height: 50%;
  background-color: black;
}

#random-btn{
  margin-left: 7px;
}

#result-list-container {
    height: 500px;
}

ul {
    list-style: none;
    padding-left: 0;
    align-self: center;
    width: 500px;
    padding: 10px;
}

#search-bar-container {
    flex-direction: row;
    width: 500px;
}

#search-bar-input {
    border-radius: 0;
    box-shadow: 3px 3px 2px 0px #ccc;
}

input:focus.search-bar-theme {
  border: 1px solid orange;

  }
