
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-result-div{
  width: 500px;
}


ul{
  list-style: none;
}

#search-bar-container{
  position: absolute;
  top: 50%;
  left: center;
  width: 500px;
  -webkit-transition-property: top;
      -webkit-transition-duration: 0.4s;
      -moz-transition-property:  top;
          -moz-transition-duration: 0.4s;
          -oz-transition-property:  top;
              -oz-transition-duration: 0.4s;
              transition-property: top;
                  transition-duration: 0.4s;




}
