.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;



}

.search-result-div {}

#result-list-container {
    height: 500px;
}


h1{

}

ul {
    list-style: none;
    padding-left: 0;
    align-self: center;
    width: 500px;
    padding: 10px;
}

#search-bar-container {

    width: 500px;

}

#search-bar-input {
    border-radius: 0;
    box-shadow: 3px 3px 2px 0px #ccc;
}
input:focus.search-bar-theme {
  border: 1px solid orange;

  }
